.popupOverlay {
	position: fixed;
	bottom: 30px;
	left: 30px;
	width:100%;
	max-width: 280px;
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 12px;
	text-align: center;
	background: #F4E041;
	border-radius: 8px;

	&.error {
		background: red;
	}

	@media (max-width:450px) {
		max-width: 250px;
		bottom: 10px;
		left: 10px;
		height: 40px;
	}
}



.btn {
	position: absolute;
	top: 12px;
	right:12px;
	height: 0;
	padding: 0;
	background: transparent;
}